* {
  margin: 0;
  padding: 0;
}
.body {
  height: 400px;
  width: 300px;
  background-color: #8aaae5;
  text-align: center;
}

.title {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 5px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.icon {
  height: 115px;
  width: 115px;
  margin-bottom: 25px;
}

.toggle-extension {
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 5px;
  margin-bottom: 20px;
  position: relative;
  top: 15px;
  text-align: center;
  margin-bottom: 30px;
}
.change-text {
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 5px;
  margin-bottom: 20px;
  position: relative;
  top: 15px;
  text-align: center;
  margin-bottom: 30px;
}

.change-image {
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 5px;
  position: relative;
  top: 15px;
  text-align: center;
  margin-bottom: 30px;
}
