@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  height: 550px;
  width: 350px;
  background-color: #8aaae5;
  text-align: center;
  justify-content: center;
}

.title {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 5px;
  margin-top: 30px;
  margin-bottom: 15px;
  text-shadow: 2px 2px black;
}

#icon {
  height: 115px;
  width: 115px;
  text-align: center;
}

.main-functions {
  width: 50%;
  margin: 1rem auto;

}

.main-functions button {
  margin: 5px;
}

/* .change-text {
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 5px;
  margin-bottom: 20px;
  position: relative;
  top: 15px;
  text-align: center;
  margin-bottom: 30px;
  font-family: "Inter", sans-serif;
} */

/* .change-image {
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 5px;
  position: relative;
  top: 15px;
  text-align: center;
  margin-bottom: 30px;
  font-family: "Inter", sans-serif;
} */

.bored {
  padding: 1rem;
  background-color: white;
}

.bored-message {
  padding: 10px;
  font-family: "Comic Sans MS", "Impact";
}

.btn {
  text-align: center;
  margin: 2%;
}